<%- include("partials/header", {loggedIn: loggedIn, name: username, pic: profile_pic, userType: userType}) %>

    <h1>Swagat he apka</h1>
    <% if(userType == 1){ %>
        <div id="btnDiv">
            <button class="addProductBtn" id="addProductBtn">Add Product</button>
        </div>
    <% } else { %>
        <div id="btnDiv">
            <button class="goToCartBtn" id="goToCartBtn">Go to Cart..</button>
        </div>
    <% } %>
    
    <div id="products">
        <% if(products.length){ %>
        <% products.forEach(function(product){ %>
            <div class="productDiv" id="<%= product._id %>" style="display: inline-block;">
                <div id="popup" style="display: none;">
                    <button class="closeBtn">×</button><br>
                    <img src= <%= product.product_pic %> alt="product_pic" width="200px" height="200px">
                    <h4> <%= product.product_name %></h4>
                    <h4> <%= product.product_price %></h4>
                    <h4> <%= product.product_desc %></h4>
                </div>
                <img src= <%= product.product_pic %> alt="product_pic" width="200px" height="200px">
                <h4> <%= product.product_name %></h4>
                <h4> <%= product.product_price %></h4>
                <% if(userType == 1){ %>
                    <button id="updateProductBtn" class="updateProductBtn buttons">Update Product</button>
                    <button id="deleteProductBtn" class="deleteProductBtn buttons">Delete Product</button>
                <% } else { %>
                    <button id="addToCartBtn" class="addToCartBtn buttons"> Add to Cart</button>
                    <button id="descBtn" class="descBtn buttons">View Desc</button>
                <% } %>
                
            </div>
        <% }) %>
        <% } %>
    </div>

    <button class="loadBtn" id="loadBtn">Load More</button>
    <script src="scripts/script.js"></script>
</body>
</html>